@keyframes ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top: 1px solid #ff6767;
    animation: ring 2s linear infinite;

    &::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        background: #ff6767;
        border-radius: 50%;
        top: 0px;
        right: 0px;
        box-shadow: 0 0 0 2px #ff676733,
            0 0 0 4px #ff676733,
            0 0 0 7px #ff676733,
            0 0 8px #ff6767ff,
            0 0 15px #ff6767ff
    }
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}