$red: #ff6767;
$blue: #6790ff;
$white: #e4edfe;
$yellow: #f8ff67;
$green: #65ea5f;
$gray: gray;

.red {
    background-color: #ff6767;
}

.blue {
    background-color: #6790ff;
}

.white {
    background-color: #e4edfe;
}

.yellow {
    background-color: #f8ff67;
}

.green {
    background-color: #65ea5f;
}

.gray {
    background-color: gray;
}