.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.deck-icon {
    width: 20px;
    height: 25px;
    background-color: gray;
    margin-left: 2px;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    width: 100%;
}

.big-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
}

.display-event-log-button {
    position: absolute;
    right: 3%;
    top: 1%;
    cursor: pointer;
}

.counters {
    position: absolute;
    left: 1%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.counter-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.room-info {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
}

.choices {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // width: 100%;
    align-items: flex-end;
}

.choice {
    margin: 10px;
    cursor: pointer;

    // &:hover {}
}

.board-state {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hands {
    // margin: 10px;
}

.playerHand {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-top: 3px;
    padding: 2px 15px;
}

.selected {
    background-color: #420076;
}

.hover-effect {
    &:hover {
        background-color: white;
    }
}