@use './colors.scss';
@import './animations.scss';

.dot {
    height: 50px;
    width: 50px;
    margin: 3px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        @include selected-hover-animation();
    }
}

.number {
    height: 50px;
    width: 50px;
    margin: 3px;
    border: 1px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:hover {
        @include selected-hover-animation();
    }
}

.dot-display {
    height: 25px;
    width: 25px;
    margin: 5px;
    border-radius: 50%;
}

.number-display {
    height: 25px;
    width: 25px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}